@model EditLibrarianViewModel

@{
    //ViewData["Title"] = "Редактиране на библиотекар";
}

<div class="card shadow-lg p-4 rounded-4 mt-4">
    <h3 class="mb-4 text-primary">Редактиране на библиотекар</h3>

    <form asp-action="EditLibrarian" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">Име</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MiddleName" class="form-label">Презиме</label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Фамилия</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Имейл</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <hr />


        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">💾 Запази</button>
            <a asp-action="ChangeLibrarianPassword" asp-route-UserId="@Model.Id" class="btn btn-secondary">
                Смяна на парола
            </a>
            <a asp-action="ManageLibrarians" class="btn btn-secondary">⬅ Отказ</a>
        </div>


    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
