@using LibrarySystem.Models
@model Section

@{
    ViewData["Title"] = "Добавяне на раздел";
}

@{
    <head>
        <title>@ViewData["Title"] - Библиотечна система</title>
    </head>

    <h1 class="mb-4 text-center">Добавяне на раздел</h1>

    <form method="post" class="w-50 mx-auto p-4 border rounded shadow-sm bg-light">
        <!-- Name Field -->
        <div class="mb-3">
            <label for="nameInput" class="form-label fw-bold">Име</label>
            <input type="text" id="nameInput" asp-for="Name" class="form-control" placeholder="Въведи име на раздел">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Description Field -->
        <div class="mb-3">
            <label for="descriptionInput" class="form-label fw-bold">Описание</label>
            <input type="text" id="descriptionInput" asp-for="Description" class="form-control" placeholder="Въведи описание">
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-between mt-4">
            <!-- Go Back Button -->
            <a asp-action="AllSections" class="btn btn-secondary btn-lg px-4">Откажи</a>
            <input type="submit" value="Добави раздел" class="btn btn-primary btn-lg px-4">
        </div>
    </form>
}