@model ChangeUserPasswordViewModel

<hr>
<h4>Смяна на паролата на потребител</h4>

<form asp-action="ChangeUserPassword" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label>Стара парола:</label>
        <input type="password" asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div>
        <label>Нова парола:</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div>
        <label>Потвърдете новата парола:</label>
        <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Запази промените</button>
    <a href="@Url.Action("UserInfo", "User")" class="btn btn-secondary">Назад</a>
</form>
