@model EditUserViewModel

<h2>Редактиране на информацията за потребителя</h2>

<form asp-action="EditUser" method="post">

    <div>
        <label>Имейл:</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>

    <div>
        <label>Име:</label>
        <input type="text" asp-for="FirstName" class="form-control" required />
    </div>

    <div>
        <label>Презиме:</label>
        <input type="text" asp-for="MiddleName" class="form-control" />
    </div>

    <div>
        <label>Фамилия:</label>
        <input type="text" asp-for="LastName" class="form-control" required />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Запази промените</button>
    <a href="@Url.Action("UserInfo", "User")" class="btn btn-secondary">Назад</a>
</form>
