<input type="text" id="searchBox" placeholder="Search books..." />
<div id="suggestions"></div>

<script>
    document.getElementById("searchBox").addEventListener("input", function () {
        let query = this.value;
        if (query.length > 2) {
            fetch(`/Search/GetSuggestions?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    let html = data.map(b => `
                            <p>
                                <a href='/Search/Details/${b.id}'>
                                    ${b.title} - ${b.author}
                                    ${b.publishingHouse ? ` (Published by: ${b.publishingHouse})` : ""}
                                </a>
                            </p>`).join("");
                    document.getElementById("suggestions").innerHTML = html;
                });
        } else {
            document.getElementById("suggestions").innerHTML = "";
        }
    });
</script>
